* {
    margin: 0;
    padding: 0;
    background-color: black;
}

body {
    margin: 0;
    padding: 0;
}

.col1 {
    background-color: beige;
}

.col2 {
    background-color: aquamarine;
}

.col3 {
    background-color: lightcoral;
}

.col4 {
    background-color: lightslategray;
}

.col5 {
    background-color: palevioletred;
}

.col6 {
    background-color: mediumorchid;
}